{% extends 'base.html' %}
{% load static %}

{% block title %}
  <!-- Подключен файл со стандартными стилями бустрап -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Лев Толстой – зеркало русской революции.</title>
{% endblock %}

    
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <h1>Лев Толстой – зеркало русской революции.</h1>
    <p>
      {{ group.title }}
    </p>
    <article>
      {% for post in posts %}
	    <ul>
	      <li>
	        Автор: {{ post.author.get_full_name }}
	      </li>
	      <li>
	        Дата публикации: {{ post.pub_date|date:"d E Y" }}
	      </li>
	    </ul>
	    <p>{{ post.text }}</p>    
	    {% if post.group %}   
  		  <a href="{% url 'posts:groups' post.group.slug %}">все записи группы</a>
		{% endif %} 
	    {% if not forloop.last %}<hr>{% endif %}
	  {% endfor %} 
    </article>
    <!-- под последним постом нет линии -->
  </div>  
{% endblock %}
             
